<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
  <div class="h3 modal-title">
    <translate>Upload File(s) To: {$ ctrl.model.container.name $}</translate>
    <span ng-if="ctrl.model.folder">: {$ ctrl.model.folder $}</span>
  </div>
</div>

<div ng-form="ctrl.form">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <fieldset>
          <div class="form-group ">
            <label class="control-label" for="id_object_file_multiple" translate>File multiple</label>
            <span class="hz-icon-required fa fa-asterisk"></span>
            <div>
              <input id="id_object_file_multiple" type="file" name="file" multiple required
                     ng-model="ctrl.model.view_file" on-file-change="ctrl.changeFile">
            </div>
          </div>
          <div class="form-group ">
            <label class="control-label" for="id_object_file_directory" translate>Directory</label>
            <span class="hz-icon-required fa fa-asterisk"></span>
            <div>
              <input id="id_object_file_directory" type="file" name="file" multiple directory webkitdirectory
                     ng-model="ctrl.model.view_file" on-file-change="ctrl.changeFile">
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-sm-6">
        <p translate>
          Note: Delimiters ('{$ ctrl.model.DELIMETER $}') are allowed in the
          file name to place the new file into a folder that will be created
          when the file is uploaded (to any depth of folders).
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <div ng-repeat="item in ctrl.model.file_names track by $index">
            <div class="row">
              <div class="form-group col-md-6">
                <input ng-model="item.name" object-name-exists class="form-control" type="text" name="name_{$ $index $}">
                <span class="help-block text-info" ng-show="ctrl.form.name_{$ $index $}.$pending.exists" translate>
                  Checking if this name is used...
                </span>
                <span class="help-block text-danger" ng-show="ctrl.form.name_{$ $index $}.$error.exists" translate>
                  This name already exists.
                </span>
              </div>
              <div class="form-group col-md-4">
                <span type="text" class="form-control">{$ item.size $} bytes</span>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary mb-2" ng-click="ctrl.removeFile(item)">Remove</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="modal-footer">
<!--    <uib-progressbar value="ctrl.uploadProgress"></uib-progressbar>-->
<!--    <span class="progress-bar-text">{$ ctrl.uploadProgress $}%</span>-->
    <span>Total size: {$ ctrl.totalUploadProgress $} / {$ ctrl.model.counted.size $} No. of Files: {$ ctrl.model.counted.total $}</span>
    <button class="btn btn-default" ng-click="$dismiss()">
      <span class="fa fa-close"></span>
      <translate>Cancel</translate>
    </button>
    <button class="btn btn-primary" ng-click="$close(ctrl.model)"
           ng-disabled="ctrl.form.$invalid">
          <span class="fa fa-upload"></span>
      <translate>Upload File</translate>
    </button>
  </div>
</div>